.app-container {
  max-width: 350px;
  outline: 2px solid rgb(12, 136, 218);
  margin: 20px;
  border-radius: 8px;
  padding: 1rem;
}
.add-new-container {
  display: flex;
  gap: 1rem;
}
.task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
